<%= render 'shared/errors', obj: @user %>

<div class='row'> 
	<div class='col-xs-12'>
		<%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %> <!-- form_for 헬퍼는 만들어진뒤 post user path 를 필요로함 -->
			<div class="form-group">
				<div class="col-sm-2 control-label">
					<%= f.label :username %> 
				</div>	
				<div class="col-sm-8">
					<%= f.text_field :username, class: "form-control", autofocus: true, placeholder: "Enter Username" %>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">
						<%= f.label :email %> 
				</div>
				<div class="col-sm-8">
						<%= f.email_field :email, class: "form-control", placeholder: "Enter e-mail" %>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">
						<%= f.label :password %> 
				</div>
				<div class="col-sm-8">
						<%= f.password_field :password, rows: 10, class: "form-control", placeholder: "password" %>
				</div>
			</div>
				<div class="form group">
					<div class="col-sm-offset-2 col-sm-10">
						<%= f.submit(@user.new_record? ? "Sign-up":"Update account", class: 'btn btn-primary btn-lg') %>  <!-- f.submit 을 조건에 따라 다른 스트링 버튼으로 노출 -->
					</div>
				</div>


		<% end %>
	
		<div class="col-xs-4 col-xs-offset-4">
			<br>
			[ <%= link_to "Cancel request and return", articles_path %> ]
		</div>
	</div>
</div>
